<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Auto Komis</title>

    </head>
    <body>
    <div layout:fragment="content">
        <form autocomplete="off" th:action="@{/addUser}" method="post" enctype="multipart/form-data" th:object="${personForm}" >

            <div class="panel panel-success">
                <div class="panel-heading">Dane Użytkownika</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">


                            <div style="margin-bottom: 20px;">
                                <div>
                                    <label>Imię:</label>
                                    <input class="form-control" type="text" th:field="*{name}"/>
                                </div>
                            </div>


                            <div style="margin-bottom: 20px;">
                            <div>
                                <label>Nazwisko:</label>
                                <input class="form-control" type="text" th:field="*{surname}"/>
                            </div>
                            </div>

                            <div style="margin-bottom: 20px;">
                                <div>
                                    <label>Adress:</label>
                                    <input class="form-control" type="text" th:field="*{adress}"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">

                            <div style="margin-bottom: 20px;">
                                <div>
                                    <label>PESEL:</label>
                                    <input class="form-control" type="text" th:field="*{pesel}"/>
                                </div>
                            </div>

                            <div style="margin-bottom: 20px;">
                            <div>
                                <label>NIP:</label>
                                <input class="form-control" type="text" th:field="*{nip}"/>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            <a th:href="@{/addUser}">
                <button type="submit" class="btn btn-danger">Aktualizuj Dane</button>
            </a>
        </form>
    </div>
</body>
</html>