<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Auto Komis</title>

    </head>
    <body>
    <div layout:fragment="content">
        <form autocomplete="off" action="#" th:action="@{/addCar}" method="post" enctype="multipart/form-data" th:object="${carForm}">

            <!--Dane pojazdu-->
            <div class="panel panel-success">
                <div class="panel-heading">Dane pojazdu</div>
                <div class="panel-body">
            <div class="row">
                <div class="col-md-1"></div>
            <div class="col-md-5">

                <div>
                    <input type="hidden" th:field="*{id}"/>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Marka:</label>
                        <select class="form-control" th:field="*{mark}">
                            <option value=""></option>
                            <option th:value="AUDI">AUDI</option>
                            <option th:value="BMW">BMW</option>
                            <option th:value="CITROEN">CITROEN</option>
                            <option th:value="FIAT">FIAT</option>
                            <option th:value="FORD">FORD</option>
                            <option th:value="PEUGEOT">PEUGEOT</option>
                            <option th:value="SEAT">SEAT</option>
                            <option th:value="SKODA">SKODA</option>
                            <option th:value="TOYOTA">TOYOTA</option>
                            <option th:value="VOLVO">VOLVO</option>
                            <option th:value="VW">VW</option>
                        </select>
                    </div>
                </div>


                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Model:</label>
                        <input class="form-control" type="text" required="required" th:field="*{model}"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Typ nadwozia:</label>
                        <select class="form-control" required="required" th:field="*{carType}">
                            <option value=""></option>
                            <option th:each="cartype : ${carType}" th:text="${cartype.name}" th:value="${cartype.id}"></option>
                        </select>
                    </div>
                </div>


                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Rok produkcji:</label>
                        <input class="form-control" type="text" required="required" th:field="*{year}"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <label>Rodzaj paliwa:</label>
                    <select class="form-control" required="required" th:field="*{fuelType}">
                        <option value=""></option>
                        <option th:value="Benzyna">Benzyna</option>
                        <option th:value="Diesel">Diesel</option>
                        <option th:value="LPG">LPG</option>
                        <option th:value="Benzyna+LPG">Benzyna+LPG</option>
                    </select>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Silnik:</label>
                        <input class="form-control" type="text" required="required" th:field="*{engine}"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Moc [KM]:</label>
                        <input class="form-control" type="number" required="required" th:field="*{horsePower}"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Właściciel:</label>
                        <select class="form-control" required="required" th:field="*{owner}">
                            <option value=""></option>
                            <option th:each="user : ${users}" th:text="${user.name} +' '+ ${user.surname}" th:value="${user.id}"></option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-md-5">

                <div style="margin-bottom: 20px;">
                    <label>Skrzynia biegów:</label>
                    <select class="form-control" required="required" th:field="*{gearBox}">
                        <option value=""></option>
                        <option th:value="Manualna">Manulana</option>
                        <option th:value="Automatyczna">Automatyczna</option>
                    </select>
                </div>


                <div style="margin-bottom: 20px;">
                    <div>
                        <label for="example-number-input" class="col-2 col-form-label">Przebieg:</label>
                        <input class="form-control" type="number" required="required" th:field="*{distance}" id="example-number-input"/>
                    </div>
                </div>


                <div style="margin-bottom: 20px;">
                    <div>
                        <label>VIN:</label>
                        <input class="form-control" type="text" required="required" th:field="*{vin}"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Numer nadwozia:</label>
                        <input class="form-control" type="text" required="required" th:field="*{liabilityNumber}"/>
                    </div>
                </div>

                <div>
                    <label>Opis Samochodu:</label>
                    <textarea class="form-control" required="required" th:field="*{description}" rows="5"/>
                </div>


                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Typ Umowy:</label>
                        <select class="form-control" required="required" th:field="*{agreementType}">
                            <option value=""></option>
                            <option th:each="agreement : ${agreement}" th:text="${agreement.name}" th:value="${agreement.id}"></option>
                        </select>
                    </div>
                </div>

                <div  style="margin-bottom: 20px; margin-top: 10px">
                        <label for="image">Zdjęcie:</label>
                        <input type="file" id="image" name="image"/>
                </div>

            </div>
            </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" style="background-color:paleturquoise">CENA</span>
                            <input type="number" class="form-control" th:field="*{amount}"/>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
            <a th:href="@{/addCar}">
                <button type="submit" class="btn btn-danger">WYSTAW</button>
            </a>
            <a th:href="@{/addUser}">
                <button type="button" class="btn btn-success">DODAJ UŻYTKOWNIKA</button>
            </a>

        </form>
    </div>
</body>
</html>