<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Auto Komis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>
<body style="padding-bottom: 70px">
<div class="container" style="font-family: 'Comic Sans MS'">

    <!--NAVBAR-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-left">
                    <li><img th:src="@{/icon/icon.png}" height="70" width="110"/></li>
                    <li></li>
                    <li style="margin-left: 15px"><h2>AUTO-KOMIS</h2></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-off" ></span> Wyloguj</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="row">
        <div class="col-sm-3" >
            <div class="list-group" sec:authorize="isAuthenticated()">
                <a  class="list-group-item list-group-item-info">MENU</a>
                <a  class="list-group-item" th:href="@{/carsList}">LISTA AUT</a>
                <a  class="list-group-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_EMPLOYEE', 'ROLE_MECHANIC')" th:href="@{/soldCarList}">ARCHIWUM AUT</a>
                <a  class="list-group-item">FAKTURY</a>
                <a  class="list-group-item">UMOWY</a>
                <a  class="list-group-item">ODKUP SAMOCHÓD</a>
                <a  class="list-group-item" th:href="@{/addCar}">WSTAW DO KOMISU</a>
                <a  class="list-group-item" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/userList}">UŻYTKOWNICY</a>
                <a  class="list-group-item" th:href="@{/addUser}">UZUPEŁNIJ SWOJE DANE</a>
            </div>
        </div>

        <!--LAYOUT-->
        <div class="col-sm-9">
            <div layout:fragment="content">Fake content</div>
        </div>
    </div>


    <!--FOOTER-->
    <nav class="footer navbar-fixed-bottom navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >Info</a>
                <a class="navbar-brand" >Kontakt</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>