<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Auto Komis</title>
</head>
<body>
<div layout:fragment="content">

        <div class="row" style="padding-top: 20px">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <form autocomplete="off" class="form-horizontal" th:action="@{/login}" method="POST">

                    <div class="form-group">

                        <div class="form-group">
                            <label for="username">Nazwa użytkownika:</label>
                            <div>
                                <input autocomplete="off" class="form-control" type="text" required="required" id="username" name="username"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Hasło:</label>
                            <div>
                                <input  autocomplete="off" class="form-control" type="password" required="required"  id="password" name="password"/>
                            </div>
                        </div>

                        <div align="center" th:if="${param.error}" class="alert alert-danger">
                            <p class="text-danger">Email lub hasło niepoprawne</p>
                        </div>

                        <div class="form-group" align="center" style="padding-top: 15px">
                            <div>
                                <button type="Submit" class="btn-block btn btn-primary btn-md" th:text="Zaloguj"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>
</body>
</html>